In [2]:
import pandas as pd

In [3]:
### Задание 1

In [7]:
horse_data = pd.read_csv('../../horse_data.csv', usecols=[0, 1, 3, 4, 5, 6, 10, 22], header=None, na_values='?')
horse_data.columns = ['surgery', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']
horse_data

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [8]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [ ]:
### Задание 2

In [9]:
# Посчитаем сначала характеристики всех столбцов со значительным числом пропусков, игнорируя их
horse_data['rectal temperature'].describe()

count    240.000000
mean      38.167917
std        0.732289
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64

In [10]:
# Судя по макс значению, есть выбросы в области верхних значений
horse_data['pulse'].describe()

count    276.000000
mean      71.913043
std       28.630557
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [11]:
# В описании есть фраза: usefulness is doubtful due to the great fluctuations
# normal rate is 8 to 10 - при этом среднее значение равно 30???
horse_data['respiratory rate'].describe()

count    242.000000
mean      30.417355
std       17.642231
min        8.000000
25%       18.500000
50%       24.500000
75%       36.000000
max       96.000000
Name: respiratory rate, dtype: float64

In [12]:
horse_data['pain'].describe()

count    245.00000
mean       2.95102
std        1.30794
min        1.00000
25%        2.00000
50%        3.00000
75%        4.00000
max        5.00000
Name: pain, dtype: float64

In [13]:
horse_data['temperature of extremities'].describe()

count    244.000000
mean       2.348361
std        1.045054
min        1.000000
25%        1.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: temperature of extremities, dtype: float64

In [23]:
# В описании к столбцу написано, что в нем могут присуствовать только значения 1 или 2
# Здесь же max=9, поэтому видимо тоже есть выбросы
horse_data['Age'].describe()

count    300.000000
mean       1.640000
std        2.173972
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        9.000000
Name: Age, dtype: float64

In [14]:
# Найдем выборы в столбце для значений пульса
q1 = horse_data['pulse'].quantile(0.25)
q3 = horse_data['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse_data[horse_data['pulse'].between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
remove_outliers

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
203,2.0,1,37.2,36.0,9.0,1.0,2.0,1.0
276,1.0,1,38.0,36.0,16.0,3.0,4.0,3.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
...,...,...,...,...,...,...,...,...
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0

In [15]:
# Выброс для пульса есть, но тем не менее, если верить интернету, такие большие значения все еще реалистичные 
pd.concat([horse_data, remove_outliers]).drop_duplicates(keep=False)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

In [30]:
# Найдем выборы в столбце для значений температуры
q1 = horse_data['respiratory rate'].quantile(0.25)
q3 = horse_data['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse_data[horse_data['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)].sort_values('respiratory rate')
remove_outliers

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
203,2.0,1,37.2,36.0,9.0,1.0,2.0,1.0
140,1.0,1,38.1,44.0,9.0,3.0,2.0,1.0
89,2.0,1,38.3,42.0,10.0,1.0,1.0,1.0
162,2.0,1,39.5,60.0,10.0,3.0,3.0,1.0
...,...,...,...,...,...,...,...,...
220,1.0,1,39.2,88.0,58.0,4.0,5.0,3.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
185,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
248,1.0,1,38.0,108.0,60.0,2.0,4.0,1.0

In [35]:
# Эти значения не похожи на выбросы, может это просто такой вид распределения?
pd.concat([horse_data, remove_outliers]).drop_duplicates(keep=False).sort_values('respiratory rate').head(20)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
120,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
125,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
84,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
29,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0
32,1.0,1,37.2,60.0,NaN,2.0,3.0,1.0

In [24]:
# Найдем выборы в столбце для значений возраста
q1 = horse_data['Age'].quantile(0.25)
q3 = horse_data['Age'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse_data[horse_data['Age'].between(lower_bound, upper_bound, inclusive=True)].sort_values('Age')
remove_outliers

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
189,1.0,1,38.3,60.0,16.0,3.0,2.0,1.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
192,1.0,1,38.2,48.0,18.0,1.0,3.0,1.0
193,1.0,1,NaN,60.0,48.0,3.0,4.0,2.0
...,...,...,...,...,...,...,...,...
100,1.0,1,38.2,40.0,16.0,3.0,1.0,1.0
99,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
98,2.0,1,37.7,44.0,40.0,2.0,1.0,1.0
105,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [25]:
pd.concat([horse_data, remove_outliers]).drop_duplicates(keep=False).sort_values('Age')

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
252,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
212,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
191,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
109,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
75,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0

In [29]:
# В столбце отсутствуют значения, равные 2, значит скорее всего вместо них записано значение 9
horse_data[horse_data['Age'] == 2]

Empty DataFrame
Columns: [surgery, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

In [ ]:
### Задание 3

In [36]:
# Попробуем отфильтровать строки, в которых есть хоть один пропуск
# В этом случае мы теряем примерно половину строк
horse_data.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     154 non-null    float64
 1   Age                         154 non-null    int64
 2   rectal temperature          154 non-null    float64
 3   pulse                       154 non-null    float64
 4   respiratory rate            154 non-null    float64
 5   temperature of extremities  154 non-null    float64
 6   pain                        154 non-null    float64
 7   outcome                     154 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 10.8 KB

In [39]:
# Отфильтруем строки, в которых пропущено не более одного элемента
# В таком случае все равно теряем много данных
# Поэтому выброс строк нас не устраивает
horse_data.dropna(thresh=7).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     231 non-null    float64
 1   Age                         231 non-null    int64
 2   rectal temperature          208 non-null    float64
 3   pulse                       228 non-null    float64
 4   respiratory rate            210 non-null    float64
 5   temperature of extremities  216 non-null    float64
 6   pain                        216 non-null    float64
 7   outcome                     231 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 16.2 KB

In [ ]:
# Посчитаем матрицу корреляций, чтобы понять, как данные столбцов влияют друг на друга.
# При этом, будем помнить, что столбцы 'surgery', 'Age', 'outcome' практически не имеют пустых значений
# и их можно использовать в качестве основных данных для подсчета корреляции

In [95]:
corr_matr = horse_data.corr()
corr_matr

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
surgery,1.000000,-0.088408,0.041421,-0.183923,-0.198989,-0.118403,-0.317972,-0.115352
Age,-0.088408,1.000000,0.196844,0.529838,0.412276,-0.056735,0.034858,-0.003341
rectal temperature,0.041421,0.196844,1.000000,0.219260,0.269181,0.096526,-0.088079,-0.056355
pulse,-0.183923,0.529838,0.219260,1.000000,0.470397,0.335041,0.307522,0.314749
respiratory rate,-0.198989,0.412276,0.269181,0.470397,1.000000,0.105934,0.128644,0.064709
temperature of extremities,-0.118403,-0.056735,0.096526,0.335041,0.105934,1.000000,0.279252,0.352856
pain,-0.317972,0.034858,-0.088079,0.307522,0.128644,0.279252,1.000000,0.306699
outcome,-0.115352,-0.003341,-0.056355,0.314749,0.064709,0.352856,0.306699,1.000000

In [136]:
# Таблица показывает, что данные столбца 'rectal temperature' практически никак не связаны с остальными данными,
# к тому же 'rectal temperature' имеет небольшой разброс значений, поэтому отсутствующие значения можно заменить
# медианой

In [137]:
horse_data_filled = pd.read_csv('../../horse_data.csv', usecols=[0, 1, 3, 4, 5, 6, 10, 22], header=None, na_values='?')
horse_data_filled.columns = ['surgery', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']
horse_data_filled['rectal temperature'].fillna(horse_data['rectal temperature'].median(), inplace=True)

In [138]:
horse_data_filled['surgery'].fillna(horse_data['surgery'].mode()[0], inplace=True) # Заменим модой столбца
horse_data_filled['outcome'].fillna(horse_data['outcome'].mode()[0], inplace=True) # Заменим модой столбца

In [139]:
horse_data['rectal temperature'].describe()

count    240.000000
mean      38.167917
std        0.732289
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64

In [140]:
horse_data_filled['rectal temperature'].describe()

count    300.000000
mean      38.174333
std        0.654831
min       35.400000
25%       37.900000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64

In [141]:
# Таким образом, мы видим, что при замене пустых значений медианой, итоговые характеристики столбца 'rectal temperature'
# изменились незначительно

In [142]:
# Для столбца 'pulse' мы видим из таблицы коррелций, что его значения относительно хорошо связаны с даными 'Age'.
# Поэтому попробуем провести группировку по возрасту и определить недостающие данные медианой 'pulse'

In [143]:
print(horse_data.groupby('Age')['pulse'].median())

Age
1     60.0
9    124.0
Name: pulse, dtype: float64

In [144]:
horse_data_filled['pulse'].fillna(horse_data.groupby('Age')['pulse'].transform('median'), inplace=True)

In [145]:
horse_data['pulse'].describe()

count    276.000000
mean      71.913043
std       28.630557
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [146]:
horse_data_filled['pulse'].describe()

count    300.000000
mean      71.386667
std       27.968278
min       30.000000
25%       48.000000
50%       60.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [147]:
# Для столбца 'respiratory rate' таблица корреляции дает наибольшее сходство с данными столбца 'pulse', однако,
# с учетом того, что данные 'pulse' неполные и сами заполняются приближенными значениями,
# используем следующую по величине корреляцию с данными столбца 'Age'

In [148]:
print(horse_data.groupby('Age')['respiratory rate'].median())

Age
1    24.0
9    49.0
Name: respiratory rate, dtype: float64

In [149]:
horse_data_filled['respiratory rate'].fillna(horse_data.groupby('Age')['respiratory rate'].transform('median'), inplace=True)

In [150]:
horse_data['respiratory rate'].describe()

count    242.000000
mean      30.417355
std       17.642231
min        8.000000
25%       18.500000
50%       24.500000
75%       36.000000
max       96.000000
Name: respiratory rate, dtype: float64

In [151]:
horse_data_filled['respiratory rate'].describe()

count    300.000000
mean      29.510000
std       16.189613
min        8.000000
25%       20.000000
50%       24.000000
75%       36.000000
max       96.000000
Name: respiratory rate, dtype: float64

In [152]:
# Для столбца 'temperature of extremities' таблица корреляции дает наибольшее сходство с данными столбца 'outcome',
# Поэтому попробуем провести группировку по исходу заболевания и доопределить данные медианой значения 'outcome'

In [153]:
print(horse_data.groupby('outcome')['temperature of extremities'].median())

outcome
1.0    2.0
2.0    3.0
3.0    3.0
Name: temperature of extremities, dtype: float64

In [154]:
horse_data_filled['temperature of extremities'].fillna(horse_data.groupby('outcome')['temperature of extremities'].transform('median'), inplace=True)

In [155]:
horse_data['temperature of extremities'].describe()

count    244.000000
mean       2.348361
std        1.045054
min        1.000000
25%        1.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: temperature of extremities, dtype: float64

In [156]:
horse_data_filled['temperature of extremities'].describe()

count    300.000000
mean       2.363333
std        0.966663
min        1.000000
25%        1.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: temperature of extremities, dtype: float64

In [157]:
# Для столбца 'pain' таблица корреляции дает наибольшее сходство с данными столбца 'pulse', однако,
# с учетом того, что данные 'pulse' неполные и сами заполняются приближенными значениями,
# используем следующую по величине корреляцию с данными столбца 'outcome'

In [158]:
print(horse_data.groupby('outcome')['pain'].median())

outcome
1.0    3.0
2.0    4.0
3.0    3.0
Name: pain, dtype: float64

In [159]:
horse_data_filled['pain'].fillna(horse_data.groupby('outcome')['pain'].transform('median'), inplace=True)

In [160]:
horse_data['pain'].describe()

count    245.00000
mean       2.95102
std        1.30794
min        1.00000
25%        2.00000
50%        3.00000
75%        4.00000
max        5.00000
Name: pain, dtype: float64

In [161]:
horse_data_filled['pain'].describe()

count    300.000000
mean       3.000000
std        1.199219
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [162]:
horse_data_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          300 non-null    float64
 3   pulse                       300 non-null    float64
 4   respiratory rate            300 non-null    float64
 5   temperature of extremities  300 non-null    float64
 6   pain                        300 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB